body{
    background-color:  hwb(152deg 0% 58% / 70%);
  }
  img{
    height: 155px;
  }
  h1{
    color: #7fffd4	;
  }
  h3{
    color: burlywood;
  }
  hr{ 
    border-style: none;
    border-top-style: dotted;
    border-color: brown;
    border-width: 5px;
    width: 5%;
  }
  a{
    color: burlywood ;
  }